 /* {
    margin:0;
    padding:0;
}
*/



h1{
  color: red;
}

h2{color:red;
}
/* main header */
.main-header{
    background-color: grey;
    color:whitesmoke;
    width:100%;
    height:150px;
}

.main-header:hover{
    background-color: peru;
}

/* navigation styling */
.main-nav{
    font-size:1.1em;
    font-weight:lighter;
    text-align: center;
         
}

.nav ul{
   margin:0;
}

.main-nav li{
    padding:0.5%;
}

.nav li{
    display:inline;
}

.nav a{
    text-decoration: none;
    padding:.5em;
    color:whitesmoke;    
}
.nav a:visited{
    background-color: green;
}

.nav a:hover{
    background-color: yellow
}

.page-title{
    text-align: center;
    font-size:2em;
    color:white;
    
}

.page-subtitle{
    text-align:center;
    text-decoration:underline;

   
}
/*
nav {
    background-color: red;
    width:100%;
    height:120px;
    
}
ul {
    margin-left: 80px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
            
}

ul li a {
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 120px;
    padding: 0 25px
    
    
} */
img{
    transition:5s;
}
img:hover{
    transform:rotateY(180deg)
    
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: ;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 40px;
}

tr:hover {background-color: skyblue;}

#image{float:right;
       margin-left:100px;}
